body {
    margin: 0;
}
a {
    color:black;
    text-decoration: none;
}
#grid {
    display:grid;
    grid-template-columns: 170px 2fr;
}
#grid ul {
    border-right: 1px solid var(--color-personal);
    width: 100px;
    margin: 0;
    padding: 20px;
    padding-left: 50px;
}
#grid li {
    padding: 3px;
}
#profile {
    padding-left: 25px;
}
@media (max-width: 650px){
    h1{
        font-size: 35px;
    }
    #grid ul {
        border: none;
    }
    #grid {
        display:block;
    }
    #profile {
        border-top: 1px solid gray;
    }
}
:root,
:root.ISD {
    --color-personal:#EF487F;
    --color-W:#FF66C1;
}
:root.ine {
        --color-personal: #A62FC6;
        --color-W: #FDF8E7;
}
:root.jing {
    --color-personal: #ECCA3E;
    --color-W: #FDF8E7;
}
:root.lil {
    --color-personal: #433673;
    --color-W: #4F96C5;
}
:root.jrr {
    --color-personal: #E91771;
    --color-W: #FCE2ED;
}
:root.segu {
    --color-personal: #2B89C3;
    --color-W: #E4F0F8;
}
:root.VIi {
    --color-personal: #8DCE36;
    --color-W: #F1F9E6;
}
.top-banner {
    background:linear-gradient(45deg, var(--color-personal), var(--color-W));
    font-size: 45px;
    text-align: left;
    margin:0;
    padding: 30px;
}
.top-banner img{
    width: 70px;
}
.head {
    color:var(--color-W);
}
.cur-page {
    color:var(--color-personal);
}
.brief {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    border: 6px dashed lightgray;
    border-left: 6px solid var(--color-personal);
}
#profile-img {
    border: 2px solid var(--color-personal);
}